---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import Layout from '@/layouts/Layout.astro'

import CompanyAsideImage from '@/assets/images/company-aside.webp'
import AppStoreGetImage from '@/assets/images/app-store/get-it-on-black.svg'
import ProductSnPreviewImage from '@/assets/images/products/solar-network.webp'
---

<Layout>
  <div class="section container mx-auto grid-cols-1 lg:grid-cols-3" id="intro">
    <div
      class="sub-section flex flex-col items-end justify-center lg:col-span-1"
    >
      <h1 class="text-4xl font-bold text-right">Solsynth LLC</h1>
      <p class="text-lg text-right">
        A vibrant creating wonderful software and hope the future will be
        brighter.
      </p>
      <a class="link flex items-center gap-1 mt-2" href="#work-featured">
        <span>See some of our works</span>
        <Icon name="material-symbols:arrow-downward" />
      </a>
    </div>
    <div class="sub-section flex items-center lg:col-span-2">
      <Image
        src={CompanyAsideImage}
        alt="galaxy"
        class="rounded-lg shadow-xl"
      />
    </div>
  </div>

  <div class="section-flex py-12 shadow-lg bg-base-300" id="work-featured">
    <div class="section container mx-auto grid-cols-1 lg:grid-cols-3">
      <div
        class="sub-section flex flex-col items-start lg:items-end justify-center lg:col-span-1"
      >
        <div class="badge badge-primary flex gap-1 items-center mb-2">
          <Icon name="material-symbols:star" />
          <span>Featured Project</span>
        </div>

        <h2 class="text-3xl font-bold lg:text-right">Solar Network</h2>
        <p class="text-lg lg:text-right">
          The next generation social network. But not only for social media.
        </p>
        <blockquote
          class="text-md lg:text-right bg-neutral text-neutral-content px-7 py-5 rounded-xl font-mono mt-2"
        >
          Social Network, Redefined.
        </blockquote>

        <div class="flex gap-3 mt-4 items-center text-right">
          <span
            class="opacity-75 text-xs max-lg:order-last"
            style="line-height: 1"
          >
            Also supports Android, Windows, and any modern web browser
          </span>
          <a
            href="https://apps.apple.com/us/app/solian/id6499032345?itscg=30200&itsct=apps_box_link&mttnsubad=6499032345"
          >
            <Image src={AppStoreGetImage} alt="get it on app store" />
          </a>
        </div>

        <a
          class="link flex items-center gap-1 mt-3"
          href="/products/solar-network"
        >
          <span>Learn more about Solar Network</span>
          <Icon name="material-symbols:arrow-right-alt" />
        </a>
      </div>
      <div class="sub-section flex items-center lg:col-span-2">
        <Image
          src={ProductSnPreviewImage}
          alt="solar network cross-platform preview"
          class="rounded-lg shadow-xl"
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  html,
  body {
    scroll-behavior: smooth;
  }

  .section {
    min-height: 90vh;
    width: 100%;
    gap: 0 2rem;
    padding: 0 1rem;
    display: grid;
  }

  .section-flex {
    width: 100%;
  }

  .sub-section {
    padding: 1rem;
  }
</style>
