---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Redirecting...">
  <div class="w-full h-full flex justify-center items-center text-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold">You will be redirected soon.</h1>
      <p>You should not see this page...</p>
    </div>
  </div>
</Layout>
