---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="User Agreements">
  <div class="container max-w-[85ch] mx-auto mt-[25vh] flex flex-col gap-4">
    <h1 class="text-4xl font-bold">隐私政策</h1>

    <article class="prose prose-lg max-w-none mt-5">
      <h2 id="introduction">简介</h2>
      <p>
        我们非常重视您的隐私。本隐私政策概述了我们收集的个人信息类型、使用方式以及我们采取的保护措施。
      </p>
      <h2 id="information-collection">信息收集</h2>
      <p>
        我们仅在提供服务时收集必要的个人信息。这可能包括您的姓名、电子邮件地址以及其他相关信息。
      </p>
      <h2 id="use-of-information">信息使用</h2>
      <p>我们使用您的个人信息来：</p>
      <ul>
        <li>提供和改进我们的服务</li>
        <li>与您沟通更新或重要信息</li>
        <li>确保遵守法律义务</li>
      </ul>
      <h2 id="data-sharing">数据共享</h2>
      <p>我们不会出售、交易或与第三方分享您的个人信息，法律要求除外。</p>
      <h2 id="data-security">数据安全</h2>
      <p>
        我们实施了强有力的安全措施，以保护您的个人信息免受未经授权的访问、更改、披露或销毁。
      </p>
      <h2 id="your-rights">您的权利</h2>
      <p>您有权：</p>
      <ul>
        <li>访问我们持有的关于您的个人信息</li>
        <li>请求更正您的个人信息</li>
        <li>请求删除您的个人信息</li>
      </ul>
      <h2 id="contact-us">联系我们</h2>
      <p>
        如果您对本隐私政策或我们的数据处理方式有任何疑问或顾虑，请通过
        lily@solsynth.dev 与我们联系。
      </p>
      <h2 id="changes-to-this-policy">政策变更</h2>
      <p>
        我们可能会不时更新本隐私政策。任何更改将发布在此页面上，且我们会通知您任何重大更改。
      </p>
    </article>
  </div>
</Layout>
