---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Terms & Conditions">
  <div
    class="container max-w-[85ch] mx-auto mt-[25vh] px-2 flex flex-col gap-4"
  >
    <h1 class="text-2xl font-bold">Terms & Conditions</h1>

    <p>
      This place is the collections of all the terms and conditions that you
      will have to agree to in order to use our products.
    </p>

    <p>
      We're trying to make it as simple as possible. And it's good for both of
      us. You do not need care about this in normal. Just makes our lawyers
      happy. <i>Do we really have a lawyer?</i>
    </p>

    <p>
      The information here may changed from time to time. Please refresh to
      check this page for the latest version.
    </p>

    <div class="flex flex-col gap-4 mt-4 mx-[-16px]">
      <a href="/terms/user-agreements">
        <div class="card bg-base-100 w-full border-neutral border">
          <div class="card-body">
            <h2 class="card-title">User Agreements</h2>
            <p>
              The User Agreements for users who using the Solar Network and
              other products from us.
            </p>
          </div>
        </div>
      </a>
      <a href="/terms/privacy-policy">
        <div class="card bg-base-100 w-full border-neutral border">
          <div class="card-body">
            <h2 class="card-title">Privacy Policy</h2>
            <p>
              The Privacy Policy shows we how to process and handle the data
              provided by you.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</Layout>
